@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
	background-color: black;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 60%;
	font-family: 'VT323', monospace;
}

body{
	color:#009a22;
}
h1{
	font-size: 5rem;
}

h2{
	font-size: 4rem;
}

.container{
	width: 100wv;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 70rem;
	margin: 0 auto;
	padding: 3rem;
}

.box{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 10rem;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.justify-center{
	justify-content: center;
}

.text-center{
	text-align: center;
}

.hidden{
	display: none;
}

.btn{
	font-size: 2.9rem;
	padding: 1.2rem 0;
	width: 15rem;
	text-align: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgb(237, 17, 24) 0%, rgb(201, 16, 22) 100%);
	border-radius: 7px;
}

.margin-right{
	margin-right: 10rem;
}

.margin-bottom{
	margin-bottom: 9rem;
}

.margin-top{
	margin-top: 4rem;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.3rem 1.4rem 0 rgba(255, 41, 48, 0.7);
	transition: transform 100ms;
	transform: scale(1.04);
}

.btn[disabled]:hover{
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

#abandon-btn{
	background: linear-gradient(90deg, rgb(17, 138, 237) 0%, rgb(0, 96, 191) 100%);
}

#abandon-btn:hover{
	box-shadow: 0 0.3rem 1.4rem 0 rgba(82, 177, 255, 0.7);
	transition: transfrom 100ms;
	transform: scale(1.04);
}

.typed{
	line-height: 25px;
	width: 100%;
	font-size: 2.2rem;
	text-align: center;

}

.typed::after{
	content: "|";
	font-size: 2.2rem;
	line-height: 20px;
	animation: blink 0.7s step-end infinite;
}

@keyframes blink{
	from, to{color: transform}
	50%{color: rgba(245,245, 245)}
}

#grade{
	font-size: 5rem;
}

#score{
	font-size: 2rem;
}

.message{
	font-size: 3rem;
	margin-bottom: 3rem;
}

.description{
	font-size: 2.2rem;
	margin-bottom: 3rem;
}

.link{
	font-size: 3rem;
	color: orange;
	margin-bottom: 2rem;
}
